html, body {
  overflow-x: hidden;
}

.commonbtn {
  background: black;
  transition: all 0.5s;
}

.commonbtn:hover {
  background: #025d53;
}

.commonbtn2 {
  background: white;
  border: none;
  color: black;
  transition: all 0.5s;
}

.commonbtn2:hover {
  background: #025d53;
  color: white;
}

@keyframes translate {
  from {
    transform: translatex(-20px);
  }
  50% {
    transform: translatex(20px);
  }
  to {
    transform: translatex(-20px);
  }
}
@keyframes translatey {
  from {
    transform: translatey(-3px);
  }
  50% {
    transform: translatey(3px);
  }
  to {
    transform: translatey(-3x);
  }
}
@keyframes hover-scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
header .top-header .icons ul li a {
  font-size: 15px;
}
header .top-header .icons ul li a i {
  line-height: 30px;
}
header .top-header .location ul li a {
  font-size: 14px;
  text-decoration: none;
  line-height: 30px;
}
header .logo-header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1803921569);
}
header .logo-header form select {
  height: 49px;
  outline: none;
  border-right: 1px solid #a4a4a4;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
header .logo-header form select option {
  height: 200px;
}
header .logo-header form input {
  height: 49px;
  width: 350px;
  outline: none;
}
header .logo-header form button {
  height: 49px;
  width: 49px;
  margin-left: -10px;
}
header .logo-header a {
  font-size: 10px;
  text-decoration: none;
}
header .logo-header .message {
  font-size: 30px;
}
header .logo-header .message i {
  line-height: 65px;
}
header .logo-header p {
  font-size: 24px;
}
header .logo-header .cart {
  width: 20px;
  height: 20px;
  top: -9px;
  right: -7px;
  line-height: 20px;
}
header nav .departments {
  width: 228px;
  height: 45px;
}
header nav .departments h6 {
  line-height: 45px;
}
header nav .departments .dep-menu {
  width: 228px;
  top: 85px;
  z-index: 300000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
header nav .departments .dep-menu li.borders {
  position: relative;
  transition: all 0.5s;
}
header nav .departments .dep-menu li.borders .beauty {
  left: 220px;
  top: 0;
  width: 1090px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
header nav .departments .dep-menu li.borders .beauty .small-menu li {
  padding: 15px 0;
}
header nav .departments .dep-menu li.borders .beauty .small-menu li::after {
  position: absolute;
  background: #e9e9e9;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
}
header nav .departments .dep-menu li.borders .beauty .small-menu li:last-child::after {
  background: transparent;
}
header nav .departments .dep-menu li.borders:hover a {
  color: #007d71 !important;
}
header nav .departments .dep-menu li:first-child:hover .beauty {
  opacity: 1;
  visibility: visible;
}
header nav .departments .dep-menu li.borders::before {
  position: absolute;
  background: #e9e9e9;
  content: "";
  width: 190px;
  height: 1px;
  bottom: 0;
  left: 2px;
}
header nav .departments .dep-menu li:last-child::before {
  background: transparent;
}
header nav .departments:hover .dep-menu {
  opacity: 1;
  visibility: visible;
  top: 45px;
}
header nav ul li a {
  -webkit-text-decoration-style: wavy;
  position: relative;
}
header nav ul li a:hover {
  -webkit-text-decoration-style: wavy;
  color: white;
}
header nav ul li ul.dropdown-3 {
  top: 60px;
  left: -200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999;
}
header nav ul li ul.dropdown-3 li a {
  transition: all 0.5s;
}
header nav ul li ul.dropdown-3 li:hover a {
  color: #007d71 !important;
}
header nav ul li:hover ul.dropdown-3 {
  opacity: 1;
  visibility: visible;
}
header nav ul li:hover a i {
  transform: rotatex(-185deg);
}
header nav .view {
  transition: all 0.5s;
}
header nav .view a i {
  transition: all 0.5s;
}
header nav .view .view-1 {
  width: 900px;
  top: 52px;
  right: 135px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
header nav .view a:hover i {
  transform: rotatex(-185deg);
}
header nav .view:hover .view-1 {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.slider-1 {
  padding: 190px 0;
  background: url(../images/skin-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-1 .model {
  left: 50px;
  animation: translate 5s linear infinite;
}
.slider-1 .banner-product-1 {
  right: -230px;
  animation: translate 5s linear infinite;
}
.slider-1 .slider-1-content {
  z-index: 2;
}
.slider-1 .slider-1-content h4 {
  letter-spacing: 10px;
}

.slider-2 {
  padding: 170px 0;
  background: url(../images/slider-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-2 .banner-product-2 {
  right: 300px;
  animation: translate 5s linear infinite;
}
.slider-2 .slider-2-content {
  z-index: 2;
}
.slider-2 .slider-2-content h4 {
  letter-spacing: 10px;
}

.slider-3 {
  padding: 170px 0;
  background: url(../images/grey-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-3 .banner-product-3 {
  right: 300px;
  animation: translate 5s linear infinite;
}
.slider-3 .slider-3-content {
  z-index: 2;
}
.slider-3 .slider-3-content h4 {
  letter-spacing: 10px;
}
.slider-3 .leaf-1 {
  right: 90px;
  width: 150px;
  bottom: 140px;
}
.slider-3 .leaf-2 {
  right: 890px;
  width: 130px;
  bottom: 80px;
}
.slider-3 .leaf-3 {
  right: 790px;
  width: 150px;
  top: 70px;
}

.essential .essential-product a h4 {
  color: black;
  transition: all 0.5s;
}
.essential .essential-product a:hover h4 {
  color: #025d53;
}
.essential .essential-product:hover img {
  animation: hover-scale 0.7s linear infinite;
}

.discount {
  background: url(../images/skin-bg-3.jpg);
  background-size: cover;
  background-position: center;
}
.discount .coco {
  height: 580px;
  animation: translate 2s linear infinite;
}
.discount .compact {
  height: 280px;
  right: 70px;
  bottom: 20px;
  z-index: 2;
  animation: swinging 3s linear infinite;
}
.discount .broken-shade-1 {
  right: 20px;
  bottom: 108px;
  z-index: 1;
  animation: translate 5s linear infinite;
}
.discount .discount-content {
  z-index: 3;
}

.selling .image {
  transition: all 1s;
}
.selling .image .feature {
  background: #AFECAF;
  top: 10px;
  left: 10px;
}
.selling .image .feature-red {
  background: #EFBFB9;
  top: 10px;
  left: 10px;
}
.selling .image .img-1 {
  display: block;
}
.selling .image .img-2 {
  display: none;
}
.selling .image .span1 {
  left: 30px;
  bottom: -10px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.selling .image .span1:hover {
  background: #025d53 !important;
}
.selling .image .span2 {
  right: -290px;
  top: 85px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.selling .image .span2 li a {
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
.selling .image .span2 li a:hover {
  background: #045f54 !important;
}
.selling .image .span2 li a:hover i {
  color: white !important;
}
.selling .image:hover .img-1 {
  display: none;
}
.selling .image:hover .img-2 {
  display: block;
}
.selling .image:hover .span1 {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
.selling .image:hover .span2 {
  opacity: 1;
  visibility: visible;
  right: -200px;
}

.why-hara {
  background: url(../images/why-hara.jpg);
  background-size: cover;
}

.honey-banner .honey-1 .honey-content h4 {
  letter-spacing: 10px;
}
.honey-banner .honey-1 .honey-content h2 {
  line-height: 45px;
  color: #c4743f;
}
.customer .eyelid {
  bottom: 30px;
  left: 60px;
}
.customer .images {
  transition: all 1s;
}
.customer .images .feature {
  background: #AFECAF;
  top: 10px;
  left: 10px;
}
.customer .images .feature-red {
  background: #EFBFB9;
  top: 10px;
  left: 10px;
}
.customer .images .imgs-1 {
  display: block;
}
.customer .images .imgs-2 {
  display: none;
}
.customer .images .span1 {
  left: 30px;
  bottom: -10px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.customer .images .span1:hover {
  background: #025d53 !important;
}
.customer .images .span2 {
  right: -290px;
  top: 85px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.customer .images .span2 li a {
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
.customer .images .span2 li a:hover {
  background: #045f54 !important;
}
.customer .images .span2 li a:hover i {
  color: white !important;
}
.customer .images:hover .imgs-1 {
  display: none;
}
.customer .images:hover .imgs-2 {
  display: block;
}
.customer .images:hover .span1 {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
.customer .images:hover .span2 {
  opacity: 1;
  visibility: visible;
  right: -200px;
}

.after-before {
  background: url(../images/bg-before-after.jpg);
  background-size: cover;
}
.after-before #comparison {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}
.after-before figure {
  position: absolute;
  background-image: url(../images/before.jpg);
  background-size: cover;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.after-before #divisor {
  background-image: url(../images/after.jpg);
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  bottom: 0;
  height: 100%;
}
.after-before #divisor::before, .after-before #divisor::after {
  content: "";
  position: absolute;
  right: -2px;
  width: 4px;
  height: calc(50% - 25px);
  background: white;
  z-index: 3;
}
.after-before #divisor::before {
  top: 0;
  box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
}
.after-before #divisor::after {
  bottom: 0;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
}
.after-before #handle {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.after-before #handle::before, .after-before #handle::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.after-before #handle::before {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}
.after-before #handle::after {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}
.after-before input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  background-color: transparent;
  width: calc(100% + 50px);
  z-index: 2;
}
.after-before input[type=range]:focus, .after-before input[type=range]:active {
  border: none;
  outline: none;
}
.after-before input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}
.after-before input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}

.review {
  background: url(../images/bg-testi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brands .brand-img {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.5s;
}
.brands .brand-img:hover {
  opacity: 1;
}

.footer input {
  outline: none;
}
.footer .send {
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -10px;
}
.footer .send:hover {
  background: white !important;
  color: green !important;
}

.topbtn {
  right: 30px;
  bottom: 50px;
  z-index: 99999;
}
.topbtn span {
  left: 18px;
  bottom: 18px;
}

/*# sourceMappingURL=style.css.map */
